<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.localtourismguide">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocalTourismGuide"
        tools:targetApi="31">

        <!-- SplashActivity as the launcher activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.LocalTourismGuide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Tourism Guide"
            android:theme="@style/Theme.LocalTourismGuide" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.LocalTourismGuide" />

        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocalTourismGuide" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocalTourismGuide" />

        <activity android:name=".FavoritePlacesActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".MemoriesActivity" />"



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDeNXKJCFQ9jTkEExHYLNEvBJ73xzAghBY" />
        <meta-data
            android:name="com.google.ai.gemini.API_KEY"
            android:value="AIzaSyB06FW3n3mfszIcPmnsHwF8dFAsO_O_pCY" />


    </application>
</manifest>
